@{
    ViewData["Title"] = "Order";
}

<header class="page-header">
    <h2>Order</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Transaction</span></li>
            <li><span>Order</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>

                <h2 class="panel-title">Filter Data</h2>
            </header>
            <div class="panel-body" style="display: block;">
                <form class="form-horizontal form-bordered">
                    <div class="row form-group">
                        <label class="col-md-1 control-label" for="inputDefault">Default</label>
                        <div class="col-md-5">
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <label class="col-md-1 control-label" for="inputDefault">Default</label>
                        <div class="col-md-5">
                            <input type="text" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-1 control-label" for="inputDefault">Default</label>
                        <div class="col-md-5">
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <label class="col-md-1 control-label" for="inputDefault">Default</label>
                        <div class="col-md-5">
                            <input type="text" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-1 control-label" for="inputDefault">Default</label>
                        <div class="col-md-5">
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <label class="col-md-1 control-label" for="inputDefault">Default</label>
                        <div class="col-md-5">
                            <input type="text" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-1 control-label">Date</label>
                        <div class="col-md-5">
                            <div class="input-daterange input-group" data-plugin-datepicker="">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" name="start">
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="end">
                            </div>
                        </div>
                        <label class="col-md-1 control-label" for="inputDefault">Default</label>
                        <div class="col-md-5">
                            <input type="text" placeholder="" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>

                <h2 class="panel-title">Table Name</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Rendering engine</th>
                            <th>Browser</th>
                            <th>Platform(s)</th>
                            <th class="hidden-phone">Engine version</th>
                            <th class="hidden-phone">CSS grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX" data-toggle="modal" data-target="#exampleModal">
                            <td>Trident</td>
                            <td>
                                Internet
                                Explorer 4.0
                            </td>
                            <td>Win 95+</td>
                            <td class="center hidden-phone">4</td>
                            <td class="center hidden-phone">X</td>
                        </tr>
                        <tr class="gradeC" data-toggle="modal" data-target="#exampleModal">
                            <td>Trident</td>
                            <td>
                                Internet
                                Explorer 5.0
                            </td>
                            <td>Win 95+</td>
                            <td class="center hidden-phone">5</td>
                            <td class="center hidden-phone">C</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Trident</td>
                            <td>
                                Internet
                                Explorer 5.5
                            </td>
                            <td>Win 95+</td>
                            <td class="center hidden-phone">5.5</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Trident</td>
                            <td>
                                Internet
                                Explorer 6
                            </td>
                            <td>Win 98+</td>
                            <td class="center hidden-phone">6</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Trident</td>
                            <td>Internet Explorer 7</td>
                            <td>Win XP SP2+</td>
                            <td class="center hidden-phone">7</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Trident</td>
                            <td>AOL browser (AOL desktop)</td>
                            <td>Win XP</td>
                            <td class="center hidden-phone">6</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Firefox 1.0</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone">1.7</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Firefox 1.5</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone">1.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Firefox 2.0</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone">1.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Firefox 3.0</td>
                            <td>Win 2k+ / OSX.3+</td>
                            <td class="center hidden-phone">1.9</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Camino 1.0</td>
                            <td>OSX.2+</td>
                            <td class="center hidden-phone">1.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Camino 1.5</td>
                            <td>OSX.3+</td>
                            <td class="center hidden-phone">1.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Netscape 7.2</td>
                            <td>Win 95+ / Mac OS 8.6-9.2</td>
                            <td class="center hidden-phone">1.7</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Netscape Browser 8</td>
                            <td>Win 98SE+</td>
                            <td class="center hidden-phone">1.7</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Netscape Navigator 9</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone">1.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.0</td>
                            <td>Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone">1</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.1</td>
                            <td>Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone">1.1</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.2</td>
                            <td>Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone">1.2</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.3</td>
                            <td>Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone">1.3</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.4</td>
                            <td>Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone">1.4</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.5</td>
                            <td>Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone">1.5</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.6</td>
                            <td>Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone">1.6</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.7</td>
                            <td>Win 98+ / OSX.1+</td>
                            <td class="center hidden-phone">1.7</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Mozilla 1.8</td>
                            <td>Win 98+ / OSX.1+</td>
                            <td class="center hidden-phone">1.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Seamonkey 1.1</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone">1.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Gecko</td>
                            <td>Epiphany 2.20</td>
                            <td>Gnome</td>
                            <td class="center hidden-phone">1.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Webkit</td>
                            <td>Safari 1.2</td>
                            <td>OSX.3</td>
                            <td class="center hidden-phone">125.5</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Webkit</td>
                            <td>Safari 1.3</td>
                            <td>OSX.3</td>
                            <td class="center hidden-phone">312.8</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Webkit</td>
                            <td>Safari 2.0</td>
                            <td>OSX.4+</td>
                            <td class="center hidden-phone">419.3</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Webkit</td>
                            <td>Safari 3.0</td>
                            <td>OSX.4+</td>
                            <td class="center hidden-phone">522.1</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Webkit</td>
                            <td>OmniWeb 5.5</td>
                            <td>OSX.4+</td>
                            <td class="center hidden-phone">420</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Webkit</td>
                            <td>iPod Touch / iPhone</td>
                            <td>iPod</td>
                            <td class="center hidden-phone">420.1</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Webkit</td>
                            <td>S60</td>
                            <td>S60</td>
                            <td class="center hidden-phone">413</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Opera 7.0</td>
                            <td>Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Opera 7.5</td>
                            <td>Win 95+ / OSX.2+</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Opera 8.0</td>
                            <td>Win 95+ / OSX.2+</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Opera 8.5</td>
                            <td>Win 95+ / OSX.2+</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Opera 9.0</td>
                            <td>Win 95+ / OSX.3+</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Opera 9.2</td>
                            <td>Win 88+ / OSX.3+</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Opera 9.5</td>
                            <td>Win 88+ / OSX.3+</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Opera for Wii</td>
                            <td>Wii</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Nokia N800</td>
                            <td>N800</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Presto</td>
                            <td>Nintendo DS browser</td>
                            <td>Nintendo DS</td>
                            <td class="center hidden-phone">8.5</td>
                            <td class="center hidden-phone">C/A<sup>1</sup></td>
                        </tr>
                        <tr class="gradeC" data-toggle="modal" data-target="#exampleModal">
                            <td>KHTML</td>
                            <td>Konqureror 3.1</td>
                            <td>KDE 3.1</td>
                            <td class="center hidden-phone">3.1</td>
                            <td class="center hidden-phone">C</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>KHTML</td>
                            <td>Konqureror 3.3</td>
                            <td>KDE 3.3</td>
                            <td class="center hidden-phone">3.3</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>KHTML</td>
                            <td>Konqureror 3.5</td>
                            <td>KDE 3.5</td>
                            <td class="center hidden-phone">3.5</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeX" data-toggle="modal" data-target="#exampleModal">
                            <td>Tasman</td>
                            <td>Internet Explorer 4.5</td>
                            <td>Mac OS 8-9</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">X</td>
                        </tr>
                        <tr class="gradeC" data-toggle="modal" data-target="#exampleModal">
                            <td>Tasman</td>
                            <td>Internet Explorer 5.1</td>
                            <td>Mac OS 7.6-9</td>
                            <td class="center hidden-phone">1</td>
                            <td class="center hidden-phone">C</td>
                        </tr>
                        <tr class="gradeC" data-toggle="modal" data-target="#exampleModal">
                            <td>Tasman</td>
                            <td>Internet Explorer 5.2</td>
                            <td>Mac OS 8-X</td>
                            <td class="center hidden-phone">1</td>
                            <td class="center hidden-phone">C</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Misc</td>
                            <td>NetFront 3.1</td>
                            <td>Embedded devices</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">C</td>
                        </tr>
                        <tr class="gradeA" data-toggle="modal" data-target="#exampleModal">
                            <td>Misc</td>
                            <td>NetFront 3.4</td>
                            <td>Embedded devices</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">A</td>
                        </tr>
                        <tr class="gradeX" data-toggle="modal" data-target="#exampleModal">
                            <td>Misc</td>
                            <td>Dillo 0.8</td>
                            <td>Embedded devices</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">X</td>
                        </tr>
                        <tr class="gradeX" data-toggle="modal" data-target="#exampleModal">
                            <td>Misc</td>
                            <td>Links</td>
                            <td>Text only</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">X</td>
                        </tr>
                        <tr class="gradeX" data-toggle="modal" data-target="#exampleModal">
                            <td>Misc</td>
                            <td>Lynx</td>
                            <td>Text only</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">X</td>
                        </tr>
                        <tr class="gradeC" data-toggle="modal" data-target="#exampleModal">
                            <td>Misc</td>
                            <td>IE Mobile</td>
                            <td>Windows Mobile 6</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">C</td>
                        </tr>
                        <tr class="gradeC" data-toggle="modal" data-target="#exampleModal">
                            <td>Misc</td>
                            <td>PSP browser</td>
                            <td>PSP</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">C</td>
                        </tr>
                        <tr class="gradeU" data-toggle="modal" data-target="#exampleModal">
                            <td>Other browsers</td>
                            <td>All others</td>
                            <td>-</td>
                            <td class="center hidden-phone">-</td>
                            <td class="center hidden-phone">U</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="panel-heading">
                <div class="panel-actions close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    <a href="#" class="fa fa-times"></a>
                </div>
                <h2 class="panel-title">Modal title</h2>
            </header>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#popular10" data-toggle="tab" class="text-center" aria-expanded="true"><i class="fa fa-star"></i> Popular</a>
                                </li>
                                <li class="">
                                    <a href="#recent10" data-toggle="tab" class="text-center" aria-expanded="false">Recent</a>
                                </li>
                                <li class="">
                                    <a href="#recent10" data-toggle="tab" class="text-center" aria-expanded="false">Recent</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="popular10" class="tab-pane active">
                                    <p>Popular <code>.nav-tabs.nav-justified</code></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                </div>
                                <div id="recent10" class="tab-pane">
                                    <p>Recent <code>.nav-tabs.nav-justified</code></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                </div>
                                <div id="recent10" class="tab-pane">
                                    <p>Recent <code>.nav-tabs.nav-justified</code></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
